@import "tailwindcss";
@font-face {
    font-family: 'Elite';
    src: url('./assets/fonts/SpecialElite-Regular.ttf') format('truetype');
}

* 	{
	font-family: 'Elite', sans-serif;
}

:root 	{
    --dark: #333;
    --light: #ddd;
}

.dark{
    background: var(--dark);
    color: var(--light);
}

.light{
    background: var(--light);
    color: var(--dark);
}
